body {
    background: #f8e8a6;
    text-align: center;
}

footer a {
    color: green;
    margin: 0 10px;
}


img {
    max-width: 100%;
    border-radius: 10px;
    margin: 30px auto;
}


#croissent_emoji {
    font-size: 2em;
}